name: Project Unit tests

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ 18-create-wf ]

jobs:
  testing:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:7.0

    services:
      srv:
        image: ghcr.io/instrument-data-source/instrument-quote-data-source-srv:latest
        ports:
          - 80:80
        env: 
          ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=postgres;Username=postgres;Password=postgres"

      db:
        image: postgres:14.3
        #volumes:
        #  - postgres-data:/var/lib/postgresql/data
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Run tests
        run: python -m unittest discover -v -s ./test -p *_test.py
